// Text visual adjustments
.disabled { color: $color__text-muted }
.muted { color: $color__text-muted }
.emphasized { color: $color__text-emphasized }
.hidden { display: none }

// Text position adjustments
.text-left { text-align: left; }
.text-right { text-align: right; }
.text-centered { text-align: center; }

// Block adjustments
.block-centered {
    margin: 0 auto;
}

.br-left-3 {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
.br-right-3 {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

// Spacing helpers
$amount: 0;
$maxAmount: 100;
$sides: (top, bottom, left, right);

@while $amount <= $maxAmount {
    @each $side in $sides {
        .m#{str-slice($side, 0, 1)}-#{$amount} {
            margin-#{$side}: #{$amount}px !important;
        }

        .p#{str-slice($side, 0, 1)}-#{$amount} {
            padding-#{$side}: #{$amount}px !important;
        }
    }

    .mv-#{$amount} {
        margin-top: #{$amount}px !important;
        margin-bottom: #{$amount}px !important;
    }

    .mh-#{$amount} {
        margin-left: #{$amount}px !important;
        margin-right: #{$amount}px !important;
    }

    .pv-#{$amount} {
        padding-top: #{$amount}px !important;
        padding-bottom: #{$amount}px !important;
    }

    .ph-#{$amount} {
        padding-left: #{$amount}px !important;
        padding-right: #{$amount}px !important;
    }

    $amount: $amount + 5;
}

.m-0 {
    margin: 0 !important;
}

.p-0 {
    padding: 0 !important;
}

.mh-auto {
    margin-left: auto !important;
    margin-right: auto !important;
}

// Border Radius Helpers

$borderAmount: 0;
$maxBorderAmount: 20;

@while $borderAmount <= $maxBorderAmount {

    .br-#{$borderAmount} {
        border-radius: #{$borderAmount}px !important;
    }

    .br-top-#{$borderAmount} {
        border-top-left-radius: #{$borderAmount}px !important;
        border-top-right-radius: #{$borderAmount}px !important;
    }

    .br-right-#{$borderAmount} {
        border-top-right-radius: #{$borderAmount}px !important;
        border-bottom-right-radius: #{$borderAmount}px !important;
    }

    .br-bottom-#{$borderAmount} {
        border-bottom-left-radius: #{$borderAmount}px !important;
        border-bottom-right-radius: #{$borderAmount}px !important;
    }

    .br-left-#{$borderAmount} {
        border-top-left-radius: #{$borderAmount}px !important;
        border-bottom-left-radius: #{$borderAmount}px !important;
    }


    $borderAmount: $borderAmount + 2;
}