.button {
    @include button-base();
    color: $color__white;
    background: $background__button;

    @include input-border();
    @include focusable();

    @include style-button-hover($background__button);

    @include style-button-focus($background__button);

    &:active {
        color: darken($color__white, 20%);
    }

    &.disabled {
        opacity: 0.5;
        cursor: not-allowed;

        &:hover {
            opacity: 0.5;
        }
        &:focus {
            opacity: 0.5;
        }
    }
    &__icon {
        padding-left: 1.2rem;
        padding-right: 1.2rem;
    }

}

.button-link {
    @include button-base();
    color: $color__link;
    background-color: transparent;
    border: 1px solid transparent;
    @include focusable();

    &:hover {
        background: darken($color__white, 10%);
    }

    &:focus {
        color: darken($color__link, 10%);
        @include focusable-active();
    }

    &:active {
        color: darken($color__link, 30%);
    }
}

@include style-button('success', $color__green);
@include style-button('danger', $color__maroon);
@include style-button('info', $color__matisse);
@include style-button('warning', $color__orange);
@include style-button-size('small', 12px, 30px);
@include style-button-size('medium', 20px, 40px);
@include style-button-size('large', 28px, 60px);
