.field {
    margin-bottom: $margin__form-field;

    &.max-width-600 {
        max-width: 600px;
    }

    &.max-width-400 {
        max-width: 400px;
    }
}

.label {
    margin-left: 2px;
    margin-bottom: $margin__form-label;
    font-weight: bold;
    line-height: $line-height__input-normal;
}

.control {
    display: flex;
    align-items: center;
    text-align: left;
}
.control-inline {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}
.input-group {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    margin: 0 auto;
}

.help {
    margin-top: 2px;
    font-size: $font-size__small;
}
