.control--radio {

    display: block;
    position: relative;
    padding-left: 2rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    box-sizing: border-box;

  .label {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 0;
    padding-left: .5rem;
    margin-top: -1rem;
    line-height: $line-height__input-normal;

    &::before {
      cursor: pointer;
      position: absolute;
      left: 0;
      display: block;
      width: 1.5rem;
      height: 1.5rem;
      pointer-events: none;
      content: "";
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      background-color: #dee2e6;
      border-radius: 50%;
      cursor: pointer;
    }

    &::after {
      position: absolute;
      top: .25rem;
      left: 0;
      display: block;
      width: 1rem;
      height: 1rem;
      content: "";
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 50% 50%;
      cursor: pointer;
    }
  }

  .radio-input {
    position: absolute;
    opacity: 0;
    z-index: 1;

    &:checked ~ .label::before {
      background-color: $background__check;
      color: #fff;
    }

    &:checked ~ .label::after {
      top: 5px;
      left: 4.5px;
      width: .6rem;
      height: .6rem;
      border-radius: 50%;
      background: white;
    }

    &:hover ~ .label::before {
      @include focusable-active();
    }
    &:checked:focus + .label::before {
      background-color: darken($background__check, 20%);
      color: #fff;
    }

    &:disabled + .label {
      color: $color__text-muted;

      &::before {
        background-color: darken($color__white, 10%);
        cursor: not-allowed;
      }

      &::after {
        color: $color__text-muted;
        background-color: darken($color__white, 10%);
        cursor: not-allowed;
      }
    }
  }
}