@mixin focusable {
    outline: 0 !important;  // overiding reboot
}

@mixin focusable-active {
    box-shadow: 0 0 0 2px rgba($color__input-border, .4);
}

@mixin input-border ($state: normal) {
    border: 1px solid $color__input-border;
    @if $state == 'disabled' {
        border-color: lighten($color__text-muted, 30%);
    }
}

@mixin button-base {
    display: inline-block;
    padding: $padding__button;
    height: $size__inputs-buttons;
    font-weight: bold;
    line-height: $line-height__button;
    letter-spacing: .5px;
}

@mixin style-button($name, $bg) {
    .button--#{$name} {
        background-color: $bg;
        border-color: $bg;
        @include style-button-hover($bg);
        @include style-button-focus($bg);
    }
}

@mixin style-button-hover($bg) {
    &:hover {
        background-color: lighten($bg, 5%);
    }
}

@mixin style-button-focus($bg) {
    &:focus {
        background-color: darken($bg, 10%);
        @include focusable-active();
    }
}

@mixin style-button-size($name, $font-size, $height-size) {
    .button--#{$name} {
        font-size: $font-size;
        height: $height-size;
    }
}

@mixin style-input-size($name, $height) {
    .input--#{$name} {
        line-height: $height !important;
        height: $height !important;
        width: auto;
    }
}
