// Available color variables
// Aiming for “AA” of WCAG. 
// Test - http://colorsafe.co/
$color__white:            white;
$color__fiord:            #4F5A65;
$color__black-russian:    #202124;
$color__shuttle-grey:     #5f6368;
$color__grey:             #767676;
$color__green:            #20c77f;
$color__royal-blue:       #1C5AEA;
$color__matisse:          #376089;
$color__silver:           #C0C0C0;
$color__maroon:           #800000;
$color__olive:            #808000;
$color__orange:           orange;
$color__lime:             #00FF00;
$color__teal:             #008080;
$color__steel-blue:       #4682B4;
$color__fuchsia:          #FF00FF;