// Colorings for draft purposes
#app {
    background: #eff6fc;
}

.page-header {
    background: #d9e9f7;

}

.page-logo {
    text-transform: uppercase !important;
    font-size: 30px;
}

.aside {

    .container {
        background: white;
    }
}

.main {

    .container {}
}

.page-footer {
    background: #d9e9f7;
}
